html {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
  }  

  p,
  li {
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }

strong {
    color: rebeccapurple;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #e26d6d;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
html {
    background-color: #aacaea;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #412cce;
    text-shadow: 3px 3px 1px black;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  